.formLogin {
  width: 90%;
  padding: 16px 16px 16px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12px;
  margin: 0 auto 20px auto;
  border-radius: 25px;
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
  box-shadow: inset 5px 5px 12px #797979, inset -5px -5px 12px #ffffff;
}

.input {
  width: 90%;
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 1em;
  border-radius: 0px;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow: 5px 5px 10px #7d7d7d;
}

.input:focus {
  background: linear-gradient(145deg, #fbf6f6, #d4cfcf);
  box-shadow: 5px 5px 10px #a7a3a3, -5px -5px 10px #a898e2;
}

.label {
  max-width: 600px;
  width: 100%;
  margin: 0px auto;
  color: #6a6767;
}

.astericks {
  font-size: 16px;
}

.titlePage {
  text-align: center;
}

.loginSubmit {
  width: 130px;
  height: 40px;
  color: #353232;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  border-radius: 103px;
  background: linear-gradient(145deg, #d4cfcf, #fbf6f6);
  box-shadow: 9px 9px 18px #6a6767;
  border: none;
  margin-top: 16px;
}

.loginSubmit:focus,
.loginSubmit:hover {
  transform: scale(1.1);
}

span {
  color: red;
}
