.addContact {
  border: none;
  border-radius: 50px;
  background: #b0b0b0;
  box-shadow: 10px 10px 20px #827f7f, -10px -10px 20px #ffffff;
  padding: 10px 12px;
  font-size: 0.875rem;
  font-weight: 700;
  color: #3b3b3b;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  align-items: center;
  column-gap: 10px;
  transition: all 400ms ease;
}

.addContact:hover, .addContact:focus {
   transform: scale(1.1);
   background: rgb(0, 219, 73);
}

.searchShowBtn {
  border: none;
  border-radius: 50px;
  background: #b0b0b0;
  box-shadow: 10px 10px 20px #827f7f, -10px -10px 20px #ffffff;
  padding: 10px;
  font-size: 0.875rem;
  font-weight: 700;
  color: #3b3b3b;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  align-items: center;
  column-gap: 10px;
  transition: all 400ms ease;
}

.searchShowBtn:hover, .searchShowBtn:focus {
  transform: scale(1.1);
  background: rgb(164, 164, 255);
}

.buttons {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}