.filter {
  margin-top: 12px;
  max-width: 190px;
  color: #242424;
  padding: 0.15rem 0.5rem;
  min-height: 40px;
  outline: none;
  border: none;
  line-height: 1.15;
  border-radius: 0px;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow: 5px 5px 10px #7d7d7d, -5px -5px 10px #ffffff;
}

.filter:focus {
  border: 2px solid #5b5fc7;
  border-radius: 4px 4px 2px 2px;
}

.filter:hover {
  outline: 1px solid lightgrey;
}
