@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0 20px;
  background-color: rgb(219, 235, 230);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6% auto 6% auto;
  padding: 20px 0;
  max-width: 400px;
  width: 95%;
  border-radius: 34px;
  background: #ebe7e7;
  box-shadow: 6px 6px 10px #848181, -6px -6px 10px #ffffff;
}

h1 {
  font-family: Verdana, sans-serif;
  text-shadow: 3px 3px 2px rgb(48, 47, 47);
  color: #535050;
}

h2 {
  color: #848181;
}
